html,
body {
  height: 100%;
  
}

::selection {
  background-color: #7143e3;
  color: #ffffff;

.gradient {  
  justify-content: center;
  min-height: 90vh;
  text-align: center;
  padding: 5%;
  background: linear-gradient(150deg, rgba(73,44,221,1) 0%, rgba(173,56,226,1) 85%);
}

.templates{
  transform: translateY(19.5%);
  max-width: 92%;
  position: sticky;
}

.companies{
  background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);

}

.btn-yellow{
  border-radius: 50rem;
  border: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
 
}

.tog{
  display: none;
}
.btn-yellow:hover{
  color: black;
  background-color: white;
}

.navbar-toggler{
  line-height: 2.05;
  background: rgba(255,255,255,0.14);
  fill: white;
}

.navbar-toggler-icon{
  fill: white;


}
.comp-head{
  text-align: center;
  color: #2f3f50;
  padding-top: 1em;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 3px;
}

 .bxs-star{
  color: #FFAE00;
  font-size: 1.2rem;
  top: 0;
    left: 0;
}

.review-header{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #2f3f50;
  line-height: 1.4;
}
.review{
  

}


.head-span{
  color: #808285;
  letter-spacing: 0px;
  font-weight: 400;
}
.page-header { 
  color: #fff;
  max-height: 130vh;
}

.home-text{
  font-weight: bolder !important;

}

.nav-1{
  margin-left: 48rem;
  position: sticky;
}

div .rating-grid{
  min-width: 1rem;
}

.lema{
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #5C2EDE52;
  border-radius: 560px 560px 560px 560px;
  
  
}

.img-name{
  font-weight: bold;
  color: #2f3f50;
  text-align: center;
  
}

.img-comp{
  width: 200px;
  opacity: 0.98;
  height: 50px;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  margin: 3em;
  
}

.nasa{
  width: 80px;
  opacity: 1.98;
  height: 60px;
  max-width: 100%;
  margin-left: 5em;
    
}

.liquid{
  width: 200px;
  opacity: 1.98;
  height: 50px;
  max-width: 100%;
  
}

.code{
  width: 200px;
  opacity: 1.98;
  height: 50px;
  max-width: 100%;
  
}

.stf{
  width: 300px;
  opacity: 10.98;
  height: 50px;
  max-width: 100%;
  
}

.details-head{
  font-weight: 600;
  color: #2f3f5c;
  font-size: 20px;
}


.detail-sec{
  border-bottom: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #ECECEC;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, 
    box-shadow 0.3s;
    padding-bottom: 5em;
    padding-left: 5em;
}
.detail-txt{
  color: #2f3f50;
  text-align: left;
  line-height: 1.8em;
  margin: 10px 0px 0px 0px;
  width: 80%;
}
.collection{
  fill: #949296;
}
.profile{
  display: block;
  float: left;
}

.blog-txt{
  line-height: 1.7rem;
  text-align: left;
  padding-left: 9em;
  width: 100%;
  vertical-align: baseline;
  font-size: 100%;
  letter-spacing: 1.3px;
}
.rating-grid{
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 0px;
    padding: 22px 22px 22px 22px;
    height: 11rem;
    max-width: 15rem;
    
}



.rating-blog{
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 0px;
    padding: 22px 22px 22px 22px;
    height: 11rem;
    max-width: 38rem;
}
.g-5{
  padding-top: 2em;
}
.yl-btn{
  border-radius: 50rem;
  font-size: 1em;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
 
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.bx.bxl-wordpress{
  
  padding-right: 0.4em;
}
.customize-head{
  word-spacing: 3px;
  text-align: center;
  font-weight: bolder;
    color: #2f3f50;
    text-align: left;

}

.customizer{
  justify-content: center;
  display:grid;
  
}

.customize-grid{
  grid-template-columns: repeat(3, 90px);            /* 2 */                            /* 3 */
     
}

.cust-img{
  grid-row: 1 / 3;                                   /* 5 */
  grid-column: 2 / 3; 
  position: relative;    
}

.customize-txt{
  text-align: center;
  line-height: 10px;
  text-align: center;
  width: 50em;
  word-spacing: 4px;
  line-height: 2em;
  color: #2f3f50;
  letter-spacing: 1px;
  text-align: left;

}
footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.bt-grid{
  margin-top: -10em;
  position: relative;
  
}

.tools-sec{
  background-color: #FCFCFC;

}